<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.LinkTracker" dependencies="Foundation.Serialization" extends="Foundation.Base" description="Foundation Helix Root items">
                    <predicate>
                        <include name="$(layer).$(module).InsertLinkDialog" database="core" path="/sitecore/client/Applications/Dialogs/InsertLinkViaTreeDialog" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>