<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Demo" dependencies="Foundation.Serialization" extends="Foundation.Base" description="Demo Site Items">
                    <predicate>
                        <!-- API Key -->
                        <include name="Project.Demo.ApiKey" database="master" path="/sitecore/system/Settings/Services/API Keys/Demo" />
                        
                        <!-- Demp Site -->
                        <include name="Project.Demo.Content" database="master" path="/sitecore/content/demo" />
                        
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>